<h1>{{ title }}</h1>
<!-- <table>
  <tr>
    <th>Item</th>
    <th>Category</th>
    <th>Price</th>
  </tr>
  <tr *ngFor="let i of allItems">
    <td>{{ i.name }}</td>
    <td>{{ i.category }}</td>
    <td>{{ i.price | currency }}</td>
  </tr>
</table> -->

<!-- <h2>Dinner</h2> -->
<table *ngFor="let c of getUniqueCategory()">
  <h2>{{ c }}</h2>
  <tr *ngFor="let i of getByCategory((c))">
   
    <td>{{ i.name }}</td>
    <td>{{ i.price | currency }}</td>

  </tr>

  <!-- <h2>Sides</h2>
<table>
  <tr *ngFor="let i of getByCategory('sides')">
   
    <td>{{ i.name }}</td>
    <td>{{ i.price | currency }}</td>

  </tr>

</table>

<h2>Salads</h2>
<table>
  <tr *ngFor="let i of getByCategory('salads')">
   
    <td>{{ i.name }}</td>
    <td>{{ i.price | currency }}</td>

  </tr>

</table>

<h2>Dessert</h2>
<table>
  <tr *ngFor="let i of getByCategory('dessert')">
   
    <td>{{ i.name }}</td>
    <td>{{ i.price | currency }}</td>

  </tr> -->

</table>